/* You can add global styles to this file, and also import other style files */
bi {
  width: 1rem;
  height: 1rem;
  display: inline-block !important;
  margin: 0 3px;
}
.form-select.small {
  width: 4rem;
}
.add-new-button {
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(199, 209, 208);
  border-radius: 10px;
  text-decoration: none;
}
