<h2 class="text-center">Add New Subject</h2>
<div class="d-flex d-flex-column justify-content-center">
  <form class="d-flex w-50 justify-content-center" [formGroup]="subjectForm" *ngIf="subjectForm" (ngSubmit)="onSubmit()">
    <div class="col-md-8 col-lg-6">

      <div class="from-group">
        <label for="name">Name: </label>
        <input id="name" class="form-control" placeholder="Name"  type="text" formControlName="name" />
        <div class="alert alert-danger" *ngIf="hasErrors('name')">
          <span *ngIf="hasErrors('name','required')" >
            <small>This field is required</small>
          </span>
          <span *ngIf="hasErrors('name','minlength')" >
            <small>This value must have minimum {{this.subjectForm.get('name')?.errors?.['minlength']['requiredLength'] }} characters</small>
          </span>
        </div>
      </div>

      <div class="from-group">
        <label for="description">Description: </label>
        <input id="description" class="form-control" placeholder="description"  type="text" formControlName="description" />
      </div>

      <div class="from-group">
        <label for="noOfEsp">NoOfESPB: </label>
        <input id="noOfEsp" class="form-control" placeholder="Number Of ESPB"  type="number" formControlName="noOfEsp" />
        <div class="alert alert-danger" *ngIf="hasErrors('noOfEsp')">
          <span *ngIf="hasErrors('noOfEsp','required')" >
            <small>This field is required</small>
          </span>
        </div>
      </div>

      <div class="from-group">
        <label for="noOfEsp">Year of Study: </label>
        <input id="yearOfStudy" class="form-control" placeholder="Year of Study"  type="number" formControlName="yearOfStudy" />
        <div class="alert alert-danger" *ngIf="hasErrors('yearOfStudy')">
          <span *ngIf="hasErrors('yearOfStudy','required')" >
            <small>This field is required</small>
          </span>
        </div>
      </div>

      <div class="from-group">
        <label for="semesterName">Semester: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <select name="semesterName" id="semesterName"  formControlName="semesterName">
          <option *ngFor="let semester of semesters" [ngValue]="semester">{{semester.semesterName}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="hasErrors('semesterName')">
          <span *ngIf="hasErrors('semesterName','required')" >
            <small>This field is required</small>
          </span>
        </div>
      </div>

      <div class="d-flex flex-row-reverse mt-2">
        <button type="submit" class="btn btn-outline-success" >Save</button>
        <button class="btn btn-outline-success" routerLink="/subject/subject-list" queryParamsHandling="preserve">Get back</button>
      </div>
    </div>
  </form>
</div>

