<h2 class="text-center">Add New Exam Period</h2>
<div class="d-flex d-flex-column justify-content-center">
  <form class="d-flex w-50 justify-content-center" [formGroup]="examPeriodForm" *ngIf="examPeriodForm" (ngSubmit)="onSubmit()">
    <div class="col-md-8 col-lg-6">

      <div class="from-group">
        <label for="name">Name: </label>
        <input id="name" class="form-control" placeholder="Name"  type="text" formControlName="name" />
        <!-- <div class="alert alert-danger" *ngIf="hasErrors('name')">
          <span *ngIf="hasErrors('name','required')" >
            <small>This field is required</small>
          </span>
          <span *ngIf="hasErrors('name','minlength')" >
            <small>This value must have minimum {{this.subjectForm.get('name')?.errors?.['minlength']['requiredLength'] }} characters</small>
          </span>
        </div> -->
      </div>

      <div class="from-group">
        <label for="startDate">Start Date:</label>
        <input id="startDate" class="form-control" placeholder="Start Date"  type="date" formControlName="startDate" />
        <!-- <div class="alert alert-danger" *ngIf="hasErrors('startDate')">
          <span *ngIf="hasErrors('reelectionDate','required')" >
            <small>This field is required</small>
          </span>
        </div> -->
      </div>

      <div class="from-group">
        <label for="endDate">End Date:</label>
        <input id="endDate" class="form-control"  type="date" formControlName="endDate" />
        <!-- <div class="alert alert-danger" *ngIf="hasErrors('startDate')">
          <span *ngIf="hasErrors('reelectionDate','required')" >
            <small>This field is required</small>
          </span>
        </div> -->
      </div>
      <div class="from-group">
        <label for="examPeriodStatus">Exam Period Status: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <select id="examPeriodStatus"  formControlName="examPeriodStatus">
          <option *ngFor="let status of examPeriodStatuses" [ngValue]="status">{{status.name}}</option>
        </select>
        <!-- <div class="alert alert-danger" *ngIf="hasErrors('semesterName')">
          <span *ngIf="hasErrors('semesterName','required')" >
            <small>This field is required</small>
          </span>
        </div> -->
      </div>
      <div class="d-flex flex-row-reverse mt-2">
        <button type="submit" class="btn btn-dark" >Save</button> &nbsp;&nbsp;&nbsp;
        <button class="btn btn-dark" routerLink="/home/test/general-overview" queryParamsHandling="preserve">Get back</button>
      </div>
    </div>
  </form>
</div>
