<h3 class="px-3">Subject List</h3>
<a class="alert-heading add-new-button float-end mx-3" routerLink="/subject/add-new-subject">Add New Subject</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name" direction="asc" (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="noOfEsp" direction="" (sort)="onSort($event)">NoOfEsp</th>
      <th scope="col" sortable="semester" direction="" (sort)="onSort($event)">Semester</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjects; let i = index" >
      <td> {{i + 1}}</td>
      <td>{{subject.name}}</td>
      <td>{{subject.noOfEsp}}</td>
      <td>{{subject.semester.name}}</td>
      <td class="text-center">
        <button class="btn btn-outline-success"  (click)="onEditSubject(subject)" ><bi name="pencil"></bi>Edit</button>
        <button class="btn btn-outline-success" (click)="onDetails(subject)">Details</button>
        <button type="button" (click)="onDelete(subject)" class="btn btn-outline-success">Delete</button>
      </td>
    </tr>

  </tbody>


</table>

<div class="d-flex justify-content-center align-items-start">
  <select class="form-select form-select-sm small mx-2 col-2"
    (change)="onPageSizeChange()"
    [(ngModel)]="pageInfo.pageSize" >
    <option *ngFor="let size of availablePageSizes" [ngValue]="size">{{size}}</option>
  </select>
  <ngb-pagination
        [pageSize]="pageInfo.pageSize"
        [collectionSize]="pageInfo.totalItems"
        [(page)]="pageInfo.pageNo"
        (pageChange)="onPageChange($event)"
        [boundaryLinks]="true"
        aria-label="Default pagination">
  </ngb-pagination>
</div>
