<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Student details</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Student ID:</td> <td> {{ student?.studentId }}</td>
        </tr>
        <tr>
          <td>Firstname:</td> <td> {{ student?.firstname }}</td>
        </tr>
        <tr>
          <td>Lastname:</td> <td> {{ student?.lastname }}</td>
        </tr>
        <tr>
          <td>Index Year:</td> <td> {{ student?.indexYear }}</td>
        </tr>
        <tr>
          <td>Index Number:</td> <td> {{ student?.indexNumber }}</td>
        </tr>
        <tr>
          <td>E-mail:</td> <td> {{ student?.email }}</td>
        </tr>
        <tr>
          <td>Address:</td> <td> {{ student?.address }}</td>
        </tr>
        <tr>
          <td>City: </td> <td> {{ student?.postalCode?.name }}</td>
        </tr>
        <tr>
          <td>Current Year Of Study</td> <td> {{ student?.currentYearOfStudy }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
</div>
